# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.json

# Virtual environments
facedect/
venv/
.env/

# Data & models
data/
*.h5
*.ckpt
*.weights
logs/

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp

# OS
.DS_Store
Thumbs.db
